.signInContainer{
    background: linear-gradient(rgb(77, 31, 113), rgb(49, 16, 75));
    color:white;
    height: 100vh;
    font-family: "Raleway";
    display:flex;
  }
  .signInForm {
  margin:auto;
  border-radius: 20px;
  padding-block:  2rem;
  padding-inline:4rem;
  background:  rgb(49, 16, 75);
  border: 3px solid rgb(77, 31, 113) ;
  }
  .formSet{
    display:flex;
    flex-direction: column;
  }
  .mainHeader{
  background-color: linear-gradient(rgb(92, 50, 125),rgb(49, 16, 75));
  text-align: center;
  }
  .input_General{
    border: solid 2px rgb(77, 31, 113);
    border-radius:5px;
    margin-top:0.25rem;
    margin-bottom: 1rem;
    color:white;
    background-color: transparent;
  }
  .input_General:hover{
    cursor:pointer;
    border: solid 2px rgb(121, 80, 155);
    transition: 100ms
  }
  .input_General::selection{
    border: solid 2px rgb(121, 80, 155);
  }
  .formButton{
    color:white;
    background-color:  rgb(77, 31, 113);
    border-radius: 5px;
    border: none;
    padding-block:1rem;
    font-size:1rem;
    cursor:pointer;
    font-family: "Raleway";
    font-weight:bold;

  }
  .formButton:hover{
    background-color:  rgb(121, 80, 155);
    transition: 100ms
  }
